<!DOCTYPE html>
<html>
  <head>
    <title>Wren Backend</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1>Wren Backend</h1>
    <p>This is a wren backend api.</p>
    <p>Current date: <%= currentTime %></p>
  </body>
</html>
